.logo-container {
	align-items: center;
}
.logo {
	width: 450px;
	padding-top: 40px;
}

@media screen and (max-width: 450px) {
	.logo {
		width: 80%;
	}
}
@media screen and (max-width: 500px) {
	.logo {
		width: 90%;
	}
}
